/*		Tablet Layout: 768px.
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 3em;
    }

    h2,
    .title h2,
    #service .title h2 {
        font-size: 2em;
    }


    #header .app-showcase img {
        max-width: 100%;
    }
    #header .block {
        text-align: center;
        width: auto;
    }
    #header .block .logo {
        margin-bottom: 35px;
    }
    .download-btn a img {
        width: 150px;
    }

    #service .block h3 {
        font-size: 22px;
    }
    #service .block p {
        padding: 0;
        font-size: 15px;
    }
    #service img {
        width: 5em;
        height: auto;
    }

    #showcase .block img {
        max-width: 100%;
        margin-bottom: 0;
        padding-bottom: 40px;
    }
    #feature {
        padding: 80px 0;
    }
    #smartphone {
        display: none;
    }

    .bg-img {
        padding: 0;
    }

}

/* Mobile Layout */

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 3em;
    }

    h2,
    .title h2,
    #service .title h2 {
        font-size: 1.8em;
    }
    #header .block {
        text-align: center;
        width: auto;
    }
    #header .app-showcase img {
        max-width: 100%;
    }
    #header .block .logo {
        margin-bottom: 20px;
    }


    .download-btn a img {
        width: 130px;
        height: auto;
    }

    #service .block h3 {
        font-size: 18px;
    }
    #service img {
        width: 3em;
        height: auto;
    }

    #service .title {
        padding-bottom: 20px;
        margin-bottom: 5px;
    }

    .serviceTools {
        flex-direction: column;
        align-items: center;

    }

    .block.wow.fadeInLeft {

        margin: 20px;
    }

    #showcase {
        padding-bottom: 10px;
    }

    #showcase .block img {
        max-width: 100%;
        margin-bottom: 0;
    }

    #feature {
        padding: 0;
    }

    #smartphone {
        display: none;
    }

    #download-btn {
        display: flex;
    }

    .featureTools {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    
    #feature .title {
    margin-bottom: 5px;
}

    .media.wow.fadeInDown.animated {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }

    .media.wow.fadeInDown.animated h4 {
        display: none;
    }

    .bg-img {
        padding: 0;
    }

}
