/*		Tablet Layout: 768px.
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 3em;
    }
    #header .app-showcase img {
        max-width: 100%;
    }
    #header .block {
        text-align: center;
    }
    #header .block .logo {
        margin-bottom: 35px;
    }
    .download-btn a img {
        width: 150px;
    }

    #service .block h3 {
        font-size: 22px;
    }
    #service .block p {
        padding: 0;
        font-size: 15px;
    }
    #service img {
        width: 5em;
        height: auto;
    }

    .serviceTools {}

    #showcase .block img {
        max-width: 100%;
        margin-bottom: 0;
        padding-bottom: 40px;
    }
    #feature {
        padding: 80px 0;
    }
    #smartphone {
        display: none;
    }

}

/*		Mobile Layout: 320px.
		margins: 34px.
*/

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 3em;
    }

    #header .block {
        text-align: center;
    }
    #header .app-showcase img {
        max-width: 100%;
    }
    #header .block .logo {
        margin-bottom: 20px;
    }

    .download-btn a img {
        width: 130px;
        height: auto;
    }

    #service .block h3 {
        font-size: 18px;
    }
    #service img {
        width: 3em;
        height: auto;
    }

    #service .title {
        padding-bottom: 20px;
    }

    .serviceTools {
        flex-direction: column;
        align-items: center;

    }
    .block.wow.fadeInLeft {

        margin: 20px;
    }
    #showcase {
        padding-bottom: 50px;
    }
    #showcase .block img {
        max-width: 100%;
        margin-bottom: 0;
    }
    #feature {
        padding: 80px 0;
    }
    #smartphone {
        display: none;
    }
    #download-btn {
        display: flex;
    }

    .featureTools {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .media.wow.fadeInDown.animated{
     
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .media.wow.fadeInDown.animated  h4 {
        display : none;
    }
}
