body {
    font-family: 'Open Sans', sans-serif;
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    padding-top: 0px;
    margin: 0px;
}

h1 {
    font-size: 10vw;
}

h2 {
    font-size: 3vw;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 10px;
}

h3 {
    font-size: 2vw;
}

p {
    font-size: 1.5vw;
}

.title {
    text-align: center;
}

.title h2 {
    font-size: 36px;
    color: #1b1b1b;
    font-weight: 300;
}

.title p {
    font-size: 1.7vw;
    font-weight: 400px;
    color: #9da8ad;
}

/*.navbar-default {
    background: transparent;
    border: none;
    margin-bottom: 0;
}*/

/*.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}*/

.serviceTools {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#service .block {

    width: 25em;
}

#service img {
    width: 5em;
    height: auto;
}

ul li {
    list-style: none;
}

#header {
    /*background-image: url("../images/app/bg1.png");*/
    /*background-repeat: no-repeat;
background-size: cover;*/
    /*padding-top: 5em;
padding-bottom: 5em;*/
}

.bg-img:before {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    /*background-image: url("../images/app/bg1.png");*/
    background-color: #e3ac23;
    background-position: 50% 5%;
    background-size: cover;
    /*filter: blur(1px);*/
    /*border: solid 10px white;*/
}

.bg-img {
    width: 100%;
    /*background-image: url("../images/app/bg1.png");*/
    /*background-color: black;*/
    /*background-repeat: no-repeat;
    background-size: cover;
    */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 4em 0px;
}

#header .app-showcase {}

#header .block {
    text-align: left;
    width: 32em;
}

#smartphone {
    width: 20em;
    height: auto;
    padding: 0 3em;
}

/*APP LOGO INTRO*/

#app {
    width: 5em;
    height: auto;
}

#header .block .logo {
    display: inline-block;
}

#header .block h2 {
    margin: 20px 0 20px 0;
    color: black;
}


#header .block .download-btn a {
    display: inline-block;
    margin-right: 10px;
}

#service {
    padding: 80px 0 100px;
}

#service .title {
    padding-bottom: 90px;
}

#service .title h2 {
    margin-top: 0;
}

#service .block {
    text-align: center;
}

#service .block h3 {
    color: #202d33;
    line-height: 48px;
    margin-bottom: 0;
}

#service .block p {
    color: #707b82;
    line-height: 30px;
    padding: 0 20px;
}


/*BACKGROUND*/

#showcase {
    /*background-image: url("/images/bg1.png");
    background-size: cover;
    background-repeat: no-repeat;*/
}

#showcase .container {
    text-align: center;
    /*border: solid 2px blue;*/
}

#showcase .container img {
    text-align: center;
    width: 60em;
    height: auto;
    padding: 0;
    margin: 0;
}


#showcase .block {
    /*padding-top: 90px;*/
}

#feature {
    padding: 325px 0 105px 0;
}

#feature .title {
    margin-bottom: 60px;
}

#feature .block .media {
    margin-bottom: 33px;
}

#feature .block .media:last-child {
    margin-bottom: 0;
}

#feature .block .media h4 {
    color: #1b1b1b;
}

#feature .block .media p {
    color: #999999;
}

#feature .block .media > .pull-left {
    padding-right: 20px;
    width: 4em;
}

.featureTools {
    display: flex;
    padding: 1em;
}

.featureTools .block {
    width: 100%;
    padding: 1em;
}

footer {}
