@font-face {
    src: url(../Typo/Relancer-Regular.otf);
    font-family: relancer;
}
@media screen and (min-device-width:956px){
    #video_background { 
        position: absolute; 
        top: 3em;
        bottom: 0px; 
        right: 0px; 
        min-width: 100%; 
        min-height: 100%; 
        width: auto; 
        height: auto; 
        z-index: -1000; 
        overflow: hidden; 
    }
    body{
        width: 100%;
        background-color: white;
        box-sizing: border-box;
    }
    h1{
        font-family: relancer;
        font-size: 35px;
        color: #e3ac23;
        width: 100%;
        text-align: center;
        margin-top: 1em;
    }
    #formcontact{
        display:flex;
        flex-flow: wrap;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.75);
        width: 70%;
        height: 35em;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding: 2.5em;
        margin-bottom: 5em;
        border-radius: 5%; 

    }
    form > div{
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        height: 75%;
        width: 35%;

    }
    .inputcontact{
        display: flex;
        border: solid 0.5px #e3ac23;
        border-radius: 5px;
        background-color: white;
        color: #e3ac23;
        width: 15em;
        height: 3.5em;
        font-family: relancer;
        padding-left: 1em;

    }
    textarea{
        width: 20em;
        margin: 2em;
        border: solid 0.5px #e3ac23;
        border-radius: 5px;
        background-color: white;
        font-family: relancer;
        color: #e3ac23;
        padding: 1em;
        resize: none;
        height: 56%;
        margin: 0;
    }
    #button{
        border: solid 0.5px #e3ac23;
        background-color: black;
        font-family: relancer;
        color: #e3ac23;
        width: 20em;
        height: 4.5em;
        margin-right: auto;
        margin-left: auto;
        border-radius: 5px;
    }
    #sucess{
        font-family: relancer;
        background-color: rgba(0, 0, 0, 0.75);
        color:#e3ac23;
        width: 60%; 
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        padding-bottom: 5%;
        border: solid 1.5px #e3ac23;
        position: relative;
        top: 2em;
        border-radius: 5px;
        z-index: 9999;
        text-align: center;

    }
    #fail{
        font-family: relancer;
        background-color: rgba(0, 0, 0, 0.75);
        color:#e3ac23;
        width: 60%;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        padding-bottom: 5%;
        border: solid 1.5px red;
        position: relative;
        top: 2em;
        border-radius: 5px;
        z-index: 9999;
        text-align: center;
    }  
}
@media screen and (max-device-width:955px){
      #video_background { 
        position: absolute; 
        top: 3em;
        bottom: 0px; 
        right: 0px; 
        min-width: 100%; 
        min-height: 100%; 
        width: auto; 
        height: auto; 
        z-index: -1000; 
        overflow: hidden; 
    }
    body{
        width: 100%;
        background-color: white;
        box-sizing: border-box;
    }
    h1{
        font-family: relancer;
        font-size: 35px;
        color: #e3ac23;
        width: 100%;
        text-align: center;
        margin-top: 0.25em;
    }
    #formcontact{
        display:flex;
        flex-flow: column;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.75);
        width: 80%;
        height: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding: 1.25em;
        margin-bottom: 5em;
        border-radius: 5%; 

    }
    form > div{
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .inputcontact{
        display: flex;
        border: solid 0.5px #e3ac23;
        border-radius: 5px;
        background-color: white;
        color: #e3ac23;
        width: 15em;
        height: 3.5em;
        font-family: relancer;
        padding-left: 1em;
            width: 35%;
        margin-bottom: 2.5em;

    }
    textarea{
        width: 20em;
        margin: 2em;
        border: solid 0.5px #e3ac23;
        border-radius: 5px;
        background-color: white;
        font-family: relancer;
        color: #e3ac23;
        padding: 1em;
        resize: none;
        height: 45%;
        margin: 0;
    }
    #button{
        border: solid 0.5px #e3ac23;
        background-color: black;
        font-family: relancer;
        color: #e3ac23;
        width: 20em;
        height: 4.5em;
        margin-right: auto;
        margin-left: auto;
        border-radius: 5px;
    }
    #sucess{
        font-family: relancer;
        background-color: rgba(0, 0, 0, 0.75);
        color:#e3ac23;
        width: 60%; 
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        padding-bottom: 5%;
        border: solid 1.5px #e3ac23;
        position: relative;
        top: 2em;
        border-radius: 5px;
        z-index: 9999;
        text-align: center;

    }
    #fail{
        font-family: relancer;
        background-color: rgba(0, 0, 0, 0.75);
        color:#e3ac23;
        width: 60%;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        padding-bottom: 5%;
        border: solid 1.5px red;
        position: relative;
        top: 2em;
        border-radius: 5px;
        z-index: 9999;
        text-align: center;
    }  

}
    