@font-face {
    src: url(../Typo/Relancer-Regular.otf);
    font-family: relancer;
}
*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    padding-top: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/************** VERSION DESKTOP **************/
main{
    display: flex;
    height: 700px;
    align-items: center;
}

/******** BLOCK CONTACT ***********/
main > div {
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #e3ac23;    
    width: 50%;
    text-align: center;
}

main > div > div:nth-of-type(1){
    margin-top: 65px;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 1em;
}

main > div > div:nth-of-type(1) > p:nth-of-type(1){
    font-family: relancer;
    font-size: 1.3em;
    padding-bottom: 20px;
}

main> div > div > p > a:hover{
    color: black;
}

main > div > div:nth-of-type(2){
    margin-bottom: 40px;
    font-size: 1.2em;
}

main > div > div:nth-of-type(2) > i:hover{
    color: white;
}

main > div > iframe{
    width: 300px;
    height: 300px;
}

/************* BLOCK FORM **************/
main > form{
    width: 40%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

main > form > h2{
    color: #e3ac23;
    padding-bottom: 30px;
    font-size: 2em;
}

main > form > input {
    width: 300px;
    height: 35px;
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 5px;
    border-radius: 3px;
}

main > form > textarea{
    width: 300px;
    height: 13em;
    padding: 5px;
    resize: none;
    border-radius: 3px;
}

main > form > button {
    width: 300px;
    height: 40px;
    background-color: #e3ac23;
    border: 2px solid #e3ac23;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    color: white;
}

main > form > button:hover {
    color: black;
}

main > form > p {
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}    

/************** VERSION TABLETTE **************/
@media (max-width:750px){ 
    main{
        flex-direction: column;
        height: auto;
    }
    
    /************BLOCK CONTACT ***********/
    main > div{
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }
    
    main > div > div:nth-of-type(1){
        margin-top: 30px;
    }

    /********* BLOCK FORM ******/
    main > form {
        width: 100%;
        padding-top: 30px;
    }
    
    main > form > h2{
        padding-bottom: 10px;
    }

    main > form > input {
        width: 80%;
        height: 35px;
    }
    
    main > form > textarea{
        width: 80%;
    }

    main > form > button {
        width: 80%;
    }
    
}

/************** VERSION MOBILE **********************/
@media (max-width:450px){
   main > div > iframe{
        width: 80%;
        height: auto;
    } 
}

    