@font-face {
    src: url(../Typo/Relancer-Regular.otf);
    font-family: relancer;
}
body{
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}
h1{
    font-family: relancer;
    font-size: 35px;
    margin-bottom: 2em;
    color: #e3ac23;
    width: 100%;
    text-align: center;
}
#formcontact{
    display:flex;
    flex-flow: column;
    background-color: black;
    width: 60%;
    height: 35em;
    margin: 5%;
    position: relative;
    left: 10em;
    top: -2.5em;
    
}
form > div{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    
}
.inputcontact{
    border: solid 0.5px #e3ac23;
    border-radius: 5px;
    background-color: dimgrey;
    color: #e3ac23;
    width: 20em;
    height: 3.5em;
    font-family: relancer;
    padding-left: 1em;
    
}
textarea{
    width: 20em;
    height: 50%;
    margin: 2em;
    position: absolute;
    right: 1em;
    top: 2em;
    border: solid 0.5px #e3ac23;
    border-radius: 5px;
    background-color: dimgrey;
    font-family: relancer;
    color: #e3ac23;
    padding: 1em;
}
#button{
    border: solid 0.5px #e3ac23;
    background-color: black;
    font-family: relancer;
    color: #e3ac23;
    width: 20em;
    height: 7.5em;
    position: relative;
    left: 5em;
}
