*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    padding-top: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/********** SECTION 1 - SLIDER ***********/
body > section > ul > li > img {
    width: 100%;
}

#img1 #img2 #img3{
    height: 750px;
}

.bx-wrapper {
    border: none;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: center;
    width: 100%;
    
}

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    bottom: 30px;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    display: none;
}

/************* MAIN ****************/

/************* SECTION 2 : titre + icons avec texte ****************/

/************ h1 ************/
h1 {
   font-size: 2.5em;
    margin-top: 0;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

/************* h2 **********/
h2{
    font-size: 2.5em;
    width: 100%;
    text-align: center;
    font-weight: lighter;
/*    color: #707b82;*/
}

/************* strong enfant h1  et h2 (section1) **********/
section:nth-of-type(1) strong {
    color: white;
}

main > section:nth-of-type(1) > div:nth-of-type(1){
    background-color: #e3ac23;
    color: black;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

main > section:nth-of-type(1) > div:nth-of-type(2) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e3ac23;
}

main > section:nth-of-type(1) > div > div {
    width: 250px;
    text-align: center;
}

main > section:nth-of-type(1) > div > div > i {
    color: #e3ac23;
    background-color: white;
    padding-top: 13px;
    border-radius: 50%;
    width: 90px;
    height: 90px;    
}

main > section:nth-of-type(1) > div > div > p {
    padding-top: 20px;
    font-size: 1.5em;
    width: 100%;
    
}

/*********** HOW DOES IT WORK? ***********/
main > div{
    background-color: black;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

main > div > h2{
    color: white;
    font-size: 3em;
}
/************ SECTION 3 : Our Technology ****************/
main > section:nth-of-type(2){
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

main > section:nth-of-type(2) > div{
    width: 50%;
    padding: 10px;
    height: 450px;
}

h3 {
    width:100%;
    text-align:center;
/*    line-height:25px;*/
    text-transform: uppercase;
    font-size: 1.5em;
    color: #e3ac23;
    margin-top: 20px;
    margin-bottom: 30px;
}

main > section:nth-of-type(2) > div:nth-of-type(1){
    background-image: url(../images/discover/montreReservoirs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

main > section:nth-of-type(2) > div:nth-of-type(2){
    text-align: center;
    padding: 0;
    padding-top: 40px;
}

/*
main > section:nth-of-type(2) > div:nth-of-type(2) > i{
    color: #e3ac23;
    padding-bottom: 10px;
}
*/

main > section:nth-of-type(2) > div:nth-of-type(2) > p{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
main > section:nth-of-type(2) > div:nth-of-type(2) > p:nth-of-type(3){
    border-bottom: 3px dotted #e3ac23;
    width: 95%;
    padding-left: 0;
    padding-bottom: 50px;
}
*/

/**************** btnKnowMore***************/
.btnKnowMore{
    width: 150px;
    padding: 10px;
    border: 3px solid #e3ac23;
    background-color: white;
    border-radius: 5px;
    color: #e3ac23;
    margin-top: 70px;
}

.btnKnowMore:hover{
    border: 3px solid #e3ac23;
    background-color: #e3ac23;
    color: white;
}

/***************** SECTION 4 : How to connect ************/
main > section:nth-of-type(3){
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
}

main > section:nth-of-type(3) > div{
    width: 50%;
    padding: 10px;
    height: 430px;
}

main > section:nth-of-type(3) > div > h3 {
    left: 7.5%; 
}

main > section:nth-of-type(3) > div:nth-of-type(1){
    text-align: center;
    padding: 40px;
    padding-right: 0;
    padding-bottom: 0;
/*    border: 3px solid green;*/
}

main > section:nth-of-type(3) > div:nth-of-type(1) > i{
    transform: rotate(270deg);
    color: #e3ac23;
    padding-bottom: 30px;
}

main > section:nth-of-type(3) > div:nth-of-type(1) > p{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
main > section:nth-of-type(3) > div:nth-of-type(1) > p:nth-of-type(3){
    border-bottom: 3px dotted #e3ac23;
    padding-bottom: 50px;
}
*/

main > section:nth-of-type(3) > div:nth-of-type(2){
    background-image: url(../images/discover/montreDiffuseur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/***************** SECTION 5 : Scientific studies ************/

/*********** Strong section5 ***************/
main > div > h2 > strong {
    color: #e3ac23;
}

main > section:nth-of-type(4){
    width: 100%;
    height: 600px;
    background-image: url(../images/discover/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
/*    margin-top: 50px;*/
}

main > section:nth-of-type(4) > div{
    width: 85%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    border: 3px dotted #e3ac23;
    border-radius: 10px;   
}






















