*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    padding-top: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/********** SECTION 1 - SLIDER ***********/
/*
#parallax{
    min-height: 800px;
    background-image: url(../images/discover/montre3.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
*/

.bx-wrapper img {
/*    max-width: 100%;*/
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

body > section > ul > li > img {
/*    width: 100%;*/
}

#img1 #img2 #img3{
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid red;
}

.bx-wrapper {
    border: none;
/*    margin-bottom: 0;*/
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: center;
    width: 100%;
    
}

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
/*    bottom: 30px;*/
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    display: none;
}

/************* MAIN ****************/

/************* SECTION 2 : titre + icons avec texte ****************/

/************ h1 ************/
h1 {
   font-size: 2.5em;
    margin-top: 0;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;    
}

/************* h2 **********/
h2{
    font-size: 2.5em;
    width: 100%;
    text-align: center;
    font-weight: lighter;
}

/************* strong enfant h1  et h2 (section1) **********/
section:nth-of-type(1) strong {
    color: #e3ac23;
}

/*************** SECTION 1 ***************/
main > section:nth-of-type(1){
    background-color: #e3ac23;
    margin-bottom: 50px;
    
}

main > section:nth-of-type(1) > div:nth-of-type(1){
    color: black;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-color: black;
}

main > section:nth-of-type(1) > div:nth-of-type(2) {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

main > section:nth-of-type(1) > div > div {
    width: 250px;
    text-align: center;
}

main > section:nth-of-type(1) > div > div > img {
/*    padding-top: 13px;*/
    border-radius: 50%;
    width: 5em;
}

main > section:nth-of-type(1) > div > div > p {
    padding-top: 20px;
    font-size: 1.4em;
    width: 100%;
    
}

/*********** HOW DOES IT WORK? ***********/
main > div{
    background-color: black;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

main > div > h2{
    color: white;
    font-size: 3em;
}
/************ SECTION 3 : Our Technology ****************/
main > section:nth-of-type(2){
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

main > section:nth-of-type(2) > div{
    width: 50%;
    margin: 10px;
    height: 450px;
/*    border: 3px solid red;*/
}

h3 {
    width:100%;
    text-align:center;
/*    line-height:25px;*/
    text-transform: uppercase;
    font-size: 1.5em;
    color: #e3ac23;
    margin-top: 20px;
    margin-bottom: 30px;
}

main > section:nth-of-type(2) > div:nth-of-type(1){
    background-image: url(../images/discover/montreReservoirs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

main > section:nth-of-type(2) > div:nth-of-type(2){
    text-align: center;
    padding: 0;
    padding-top: 40px;
}

/*
main > section:nth-of-type(2) > div:nth-of-type(2) > i{
    color: #e3ac23;
    padding-bottom: 10px;
}
*/

main > section:nth-of-type(2) > div:nth-of-type(2) > p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
}

/*
main > section:nth-of-type(2) > div:nth-of-type(2) > p:nth-of-type(3){
    border-bottom: 3px dotted #e3ac23;
    width: 95%;
    padding-left: 0;
    padding-bottom: 50px;
}
*/

/**************** btnKnowMore***************/
.btnKnowMore{
    width: 150px;
    padding: 10px;
    border: 3px solid #e3ac23;
    background-color: white;
    border-radius: 5px;
    color: #e3ac23;
    margin-top: 70px;
}

.btnKnowMore:hover{
    border: 3px solid #e3ac23;
    background-color: #e3ac23;
    color: white;
}

/***************** SECTION 4 : How to connect ************/
main > section:nth-of-type(3){
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
}

main > section:nth-of-type(3) > div{
    width: 50%;
    margin: 10px;
    height: 430px;
/*    border: 3px solid red;*/
}

main > section:nth-of-type(3) > div > h3 {
    left: 7.5%; 
}

main > section:nth-of-type(3) > div:nth-of-type(1){
    text-align: center;
    padding: 0;
    padding-top: 40px;
    
/*    border: 3px solid green;*/
}

main > section:nth-of-type(3) > div:nth-of-type(1) > i{
    transform: rotate(270deg);
    color: #e3ac23;
    padding-bottom: 30px;
}

main > section:nth-of-type(3) > div:nth-of-type(1) > p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
}

/*
main > section:nth-of-type(3) > div:nth-of-type(1) > p:nth-of-type(3){
    border-bottom: 3px dotted #e3ac23;
    padding-bottom: 50px;
}
*/

main > section:nth-of-type(3) > div:nth-of-type(2){
    background-image: url(../images/discover/montreDiffuseur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/***************** SECTION 5 : Scientific studies ************/

/*********** Strong section5 ***************/
main > div > h2 > strong {
    color: #e3ac23;
}

main > section:nth-of-type(4){
    width: 100%;
    height: auto;
    background-image: url(../images/discover/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 75px;
    padding-bottom: 75px;
}

main > section:nth-of-type(4) > div{
    width: 85%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 75px;
    padding-bottom: 75px;
    
}

figure{
    width: 256px;
    text-align: center;
    border: 3px solid #e3ac23;
    border-top: none;
    margin: 0;
}

figure > img{
    width: 250px;
    padding-top: 0;
    margin-top: 0;
}

figcaption{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
    line-height: 20px;
    margin-top: 0;
    border-top: none;
}

figcaption > p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-top: 0;
    padding-top: 0;
}

figcaption > .btnKnowMore {
    border: 3px solid white;
    margin-top: 30px;
    color: #e3ac23;   
}


figcaption a:link{
    color: black;
}

figcaption a:visited{
    color: black;
    text-decoration: underline;
    
}

figcaption > ul > li > a:hover{
    color: #e3ac23;
    text-decoration: underline;
    border-bottom: none;
}






















