@font-face {
    src: url(../fonts/relancer.otf);
  font-family: relancer;
}

/***********FOOTER***************/

footer {
    background-color: black;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    /*    border-bottom: solid 3px #e3ac23;*/
}

/************** VERSION DESKTOP **************/
/**********DIV CONTAINER (logo + 3 divs)***********/

footer > div {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-bottom: 15px;
    /*    font-family: 'Montserrat', sans-serif;*/
}

/********* 5 DIVS enfants avec contenu************/

/*********DIV 1 : LOGO FOOTER***********/
footer > div > div:nth-of-type(1){
    width:auto;
    padding-top: 0;
    border-top: none;
}

footer > div > div > a > img {
    height: 50px;
    padding-top: 0;
}

/************ DIVs 2, 3, 4 et 5 ************/

footer > div > div {
    width: 195px;
    border-top: solid 3px #e3ac23;
    padding-left: auto;
    padding-right: auto;
    padding-top: 4px;
}

footer > div > div > p {
    padding-top: 8px;
    padding-bottom: 3px;
}

/************DIV enfant 4************/

footer > div > div:nth-of-type(4) > p:nth-of-type(1) {
    text-transform: uppercase;
}

/************DIV enfant 5************/

footer > div > div:nth-of-type(5) {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

footer > div > div:nth-of-type(5) > i:hover {
    color: #e3ac23;
}

/************P copyright************/

footer > p {
    width: 100%;
    background-color: #131313;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 75%;
}

/*************SPAN info tlf et email***********/

footer > div > div > p > span {
    color: #e3ac23;
}

/***********LINKS*************/

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #e3ac23;
}

/************** VERSION TABLETTE **************/

@media (max-width:1024px){
    
        /**********DIV CONTAINER (logo + 3 divs)***********/

    footer > div {
        flex-wrap: wrap;
        text-align: center;
    }
    
    /********* 5 DIVS enfants avec contenu************/
    footer > div > div:nth-of-type(1){
        width: 100%;
        padding-bottom: 10px;
    }
    
    footer > div > div {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border-top: none;
        padding-top: 0;
    }

    footer > div > div:nth-of-type(2){
        order: 2;
        border-left: 1px solid #e3ac23;
    }
    
    footer > div > div:nth-of-type(3){
        order: 4;
        border-left: 1px solid #e3ac23;
    }

    /************DIV enfant 4************/
    
    footer > div > div:nth-of-type(4){
        order: 1;
        border-right: 1px solid #e3ac23;
    }

    /************DIV enfant 5************/

    footer > div > div:nth-of-type(5) {
        justify-content: center;
        order: 2;
        border-right: 1px solid #e3ac23;
    }
    
    footer > div > div:nth-of-type(5) > i {
        padding: 5px;
    }  
}

/************** VERSION MOBILE **************/

@media (max-width:720px) {
    
        /**********DIV CONTAINER (logo + 3 divs)***********/

    footer > div {
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
    }
    
    /********* 5 DIVS enfants avec contenu************/
    
    footer > div > div {
        width: 100%; 
    }

    footer > div > div:nth-of-type(2){
        order: 1;
        border-left: none;
        margin-top: 10px;
    }
    
    footer > div > div:nth-of-type(3){
        order: 2;
        border-left: none;
        margin-bottom: 30px;
    }

    /************DIV enfant 4************/
    
    footer > div > div:nth-of-type(4){
        order: 3;
        border-right: none;
    }

    /************DIV enfant 5************/

    footer > div > div:nth-of-type(5) {
        justify-content: center;
        order: 4;
        border-right: none;
    }
    
    footer > div > div:nth-of-type(5) > i {
        padding: 5px;
    }  
}


