@font-face {
    src: url(../fonts/relancer.otf);
    font-family: relancer;
}

header {
    width: 100%;
    background-color: black;
    border-top: solid 3px #e3ac23;
}

header > div {
    width: 95%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/********LOGO*******/

header > div > a > img {
    height: 50px;
    padding-top: 5px;
}

/*******NAV***********/

header > div > nav {
    width: 90%;
    height: 100%;
}

header > div > nav > ul {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-family: relancer;
    letter-spacing: 0.15em;
}

header > div > nav > ul > li {
    padding-bottom: 15px;
    padding-top: 30px;
    list-style: none;
    text-transform: uppercase;
}

header > div > nav > ul > li > a {
    width: 100%;
    height: 100%;
}

/********SUBMENU ************/

nav > ul > li:hover > .sub-menu {
    display: flex;
}

.sub-menu {
    width: 100%;
    height: 45px;
    padding-left: 200px;
    padding-right: 200px;
    display: none;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    z-index: 999999;
    top: 73px;
    left: 0;
}

.sub-menu > li {
    padding-top: 12px;
    padding-bottom: 10px;
    list-style: none;
}

/******BUTTON LOG IN******/

#buttonLogIn {
    width: 60px;
    height: 40px;
    background-color: black;
    border: none;
    color: white;
}

#buttonLogIn:hover {
    color: #e3ac23;
}

/**************.VISIBLE (form)***************/

.visible {
    display: block;
}

/***********LogIN/Close*********/

header > div > div {
    width: 170px;
    border: 3px solid #e3ac23;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 90px;
    right: 3.5%;
    z-index: 9999;
    border-radius: 10px;
    text-align: right;
    display: none;
}

header > div > div > div {
    background-color: #e3ac23;
    padding: 5px;
    text-align: center;
}

header > div > div > div > a:hover {
    color: black;
}

header > div > div > p {
    padding: 3px;
}

header > div > div > p > a:link {
    color: black;
}

header > div > div > p > a:visited {
    color: black;
}

header > div > div > p > a:hover {
    color: #e3ac23;
}

/***********LINKS*************/

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.sub-menu > li > a:visited {
    color: black;
}

ul > li > a:hover {
    color: #e3ac23;
    border-bottom: 3px solid #e3ac23;
    padding-bottom: 8px;
}

.sub-menu > li > a:hover {
    color: #e3ac23;
}
