@font-face {
    src: url(../fonts/relancer.otf);
    font-family: relancer;
}

header {
    width: 100%;
    background-color: black;
    border-top: solid 3px #e3ac23;
}

header > div {
    width: 95%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/********HAMBURGER*******/
.hamburger{
    display: none;
}

.hamburgerClose{
    display: none;
}

/********LOGO*******/
header > div > a > img {
    height: 50px;
    padding-top: 5px;
}

/*******NAV***********/
header > div > nav {
    width: 90%;
    height: 100%;
    z-index: 10;   
}

header > div > nav > ul {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: relancer;
    letter-spacing: 0.15em;   
}

header > div > nav > ul > li {
    height: 100%;
    padding-top: 27px;
    list-style: none;
    text-transform: uppercase;
}

header > div > nav > ul > li > a {
    width: 100%;
    height: 100%;
}

/******BUTTON LOG IN******/
#buttonLogIn {
    border-image: url(../images/logo/man-user.png);
    height: 2em; 
}

/**************.VISIBLE (form)***************/

.visible {
    display: block;
}

/************** USERNAME **************/
header > div > p {
    width: 150px;
    text-align: right;
    color: #e3ac23;
    font-weight: bolder; 
    align-self: center;
}

/***********LogIN/Close*********/
header > div > div {
    width: 170px;
    border: 3px solid #e3ac23;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 90px;
    right: 2.5%;
    z-index: 9999;
    border-radius: 10px;
    text-align: right;
    display: none;
}

header > div > div > div {
    background-color: #e3ac23;
    padding: 5px;
    text-align: center;
}

header > div > div > div > a:hover {
    color: black;
}

header > div > div > p {
    padding: 3px;
}

header > div > div > p > a:link {
    color: black;
}

header > div > div > p > a:visited {
    color: black;
}

header > div > div > p > a:hover {
    color: #e3ac23;
}

/***********LINKS*************/

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

nav ul li a:after {
  transition: all .5s;
  
}

ul > li > a {
  position: relative;
}


ul > li > a:after {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0px;
  content: '.';
  color: transparent;
  background: #e3ac23;
  height: 1px;     
}

ul > li > a:hover:after {
  width: 100%;  
}

/*************** TABLETTE *********************/
@media (max-width:1150px){
    header > div {
/*        position: relative;*/
    }
    
    /***********HAMBURGER*************/
    .hamburger{
        width: 50px;
       height: 50px;
      display: block;
      background:black;
/*      line-height:45px;*/
      padding:0;
      color:#e3ac23;
      border:none;
      font-size:1.5em;
      font-weight:bold;
      cursor:pointer;
      outline:none;
      z-index:10000000000000;
    }
    
    .hamburgerClose{
        width: 50px;
        height: 50px;
      display: block;
      background:black;
/*      line-height:45px;*/
      padding:0;
      color:#e3ac23;
      border:none;
      font-size:1.3em;
      font-weight:bold;
      cursor:pointer;
      outline:none;
      z-index:10000000000000;
    }

    /*******NAV***********/
    .menu{
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        z-index: 9;
        padding-left: 4%;
        height: auto;
        margin-left: 0;
    }
    
    .menu ul {
        margin: 0; 
        padding: 0;
        display: block;
    }
    
    .menu li {  
        padding:10px 0 10px 0;
    }
    
    /************** USERNAME **************/
    header > div > p {
        position: absolute;
        right: 57px;
        top: 27px;
    }
    
    /******BUTTON LOG IN******/
    #buttonLogIn {
        height: 1.7em; 
    }
}

/*********************MOBILE*******************/
@media (max-width:650px){
    /*******NAV***********/
    .menu{
        padding-left: 5%;
    }
    
    /************** USERNAME **************/
    header > div > p {
        display: none;
    }
    
    /******BUTTON LOG IN******/
    #buttonLogIn {
        height: 1.5em; 
    }
    
        /***********LogIN/Close*********/
    header > div > div {
        width: 130px;
        font-size: 0.8em;
    }
}
