*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    padding-top: 0px;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/************** VERSION DESKTOP **************/
main{
    display: flex;
    height: 700px;
    align-items: center;
}

main > div:nth-of-type(1) {
    background-image: url(../images/user/watch-front3.png);
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #e3ac23;    
    width: 50%;    
}

main > div:nth-of-type(2) {
    width: 40%;
    height: 550px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px; 
}

main > div:nth-of-type(2) > p{
    line-height: 30px;
    font-size: 1.2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

main > div:nth-of-type(2) > div{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    top: 100px;
    border: 3px dotted #e3ac23;
    border-radius: 15px;
}

main > div > div > i {
    padding: 15px;
}

main > div > div > i:hover{
    color: #e3ac23;   
}

#linkLogIn{
   color: #e3ac23 !important; 
}

#linkLogIn:visited{
   color: #e3ac23; 
}

/************** VERSION TABLETTE **************/
@media (max-width:750px){
    main {
        width: 100%;
        background-image: url(../images/user/watch-front3.png);
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #e3ac23; 
        height: 700px;
    }
    
    main > div:nth-of-type(1){
        display: none;
    }

    main > div:nth-of-type(2) {
        width: 85%;
        background-color: rgba(255, 255, 255, 0.9);
        padding-top: 150px;
    }
    
    main > div:nth-of-type(2) > div{
        width: 60%;
        top: 100px;
    }
    
}

/************** VERSION MOBILE **********************/
@media (max-width:470px){
    main {
        background-image: url(../images/user/watch-front3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        background-color: #e3ac23;    
        width: 100%;
        height: auto;
        padding-top: 50px; 
        padding-bottom: 50px; 
    }
    
    main > div:nth-of-type(2) {
        width: 85%;
        height: auto;
        padding-top: 30px; 
        padding-bottom: 30px; 
    }

    main > div:nth-of-type(2) > div{
        width: 90%;
        top: 30px;
        margin-bottom: 50px;
    }
}
