@font-face {
    src: url(./Fonts/regular.otf);
    font-family: relancer;
}

$goldenColor: #e3ac23;

/**********typo************/
/*    font-family: 'Montserrat', sans-serif;*/
/*    font-family: 'Open Sans', sans-serif;*/

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    padding-top: 0px;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

article {
    top: 0;
    margin: 0;
    height: 900px;
    
    background: url(../images/home/montre.png) 50% 0 no-repeat fixed;
    margin: 0 auto;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
}

h1 {
    color: $goldenColor;
    font-family: relancer;
    margin-top: 0;

}

h2 {
    color: $goldenColor;
//    padding-top: 150px;
}

article > div {
    padding-top: 40vh;
    
    
}

//.container {
//    width: 100%;
//    margin-left: auto;
//    margin-right: auto;
////    height: 300px;
//    margin: 0 auto;
////    background-color: rgba(252, 242, 218, 0.38);
//    text-align: justify;
//    padding-top: 100px;
//    padding-bottom: 100px;
//}
//
//.container > p{
//    width: 75%;
//    margin-left: auto;
//    margin-right: auto;
//}

#divText {
//    top: 750px;
//    display: flex;
//    align-content: flex-end;
    width: 80%;
    height: 500px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
    padding-top: 400px;
    position: relative;
//    border: 3px solid red;
}

#divText > p {
    padding-bottom: 30px;
}


strong {
    color: $goldenColor;
}

.buttonKnowMore{
    background-color: none;
    width: 200px;
    border-radius: 5px;
}

.knowMore {
    width: 100%;
    height: 300px;
    background-color: grey;
    padding-top: 50px;
    position: absolute;
    top: 600px;
    left: 0;
    
//    border: 3px solid green;
    margin-top: 0;
    display: none;
    
}

.knowMore > p {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.visible {
    display: block;
}

/* Parallax windows*/

.paralaxtext {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 100px;
    color: black;
}

.paralax1 {
    height: 900px;
    background: url(../images/home/boost.jpg) 50% 0 no-repeat fixed;
    margin: 0 auto;
    padding: 50px 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.paralax2 {
    height: 900px;
    background: url(../images/home/zen.jpg) 50% 0 no-repeat fixed;
    margin: 0 auto;
    padding: 50px 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.paralax3 {
    height: 900px;
    background: url(../images/home/viequot.jpg) 50% 0 no-repeat fixed;
    margin: 0 auto;
    padding: 50px 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}


