@font-face {
    src: url(../fonts/relancer.otf);
    font-family: relancer;
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    padding-top: 0px;
    margin: 0;
}

span {
    color: #e3ac23;
}

body{  
     font-family: 'Open Sans', sans-serif; 
}

/************** BLOCK 1 : IMG FOND + H1 ************/

main > div:nth-of-type(1) {
    background-image: url(../images/selfDevelopment/coach-white.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

main > div:nth-of-type(1) > h1 {
    font-size: 3em;
    width: 65%;
    color: black;
    margin-top: 18%;
    text-align:center;
}

/*********** BLOCK 2 : H2  ****************/

main > div:nth-of-type(2) {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
    color: white;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

/************ BLOCK 3 : BLOCK ORANGE ********************/
main > div:nth-of-type(3){ 
    display: flex;
    align-items: center;
    background-color: #e3ac23;
    padding-top: 20px;
    padding-bottom: 20px;
}

main > div:nth-of-type(3) > div:nth-of-type(1) {
    background-image: url(../images/selfDevelopment/watch-front3.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    height: 390px;
    width: 40%;  
}


main > div:nth-of-type(3) > div:nth-of-type(2){
    width: 60%;
    text-align: center;
}

main > div:nth-of-type(3) > div > p{
    font-weight: bolder;
    font-size: 1.7em;
    width: 80%;
    margin-left: 7%;   
}

.btnKnowMoreWhite{
    width: 150px;
    padding: 10px;
    border: 3px solid white;
    background-color: #e3ac23;
    border-radius: 5px;
    color: white;
    margin-top: 50px;  
}

.btnKnowMoreWhite:hover{
    border: 3px solid white;
    background-color: white;
    color:#e3ac23 ;
    cursor: pointer;
}

/*********** BLOCK 4 : PROFESSIONALLY **************/
main > div:nth-of-type(4) {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

main > div:nth-of-type(4) > div {
    width: 50%
}

main > div:nth-of-type(4) > div:nth-child(1) {
    background-image: url(../images/selfDevelopment/selfdev.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: left;
    height: 350px;
}

main > div:nth-of-type(4) > div:nth-child(2) {
    text-align: center;
}

main > div > div > h2 {
    font-size: 2em;
    text-transform: uppercase;
    color: #e3ac23;
    margin-bottom: 30px;
}

main > div > div > p {
    font-size: 1.6em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

main > div > div > h2 {
    font-size: 2em;
    text-transform: uppercase;
    color: #e3ac23;
    margin-bottom: 30px;
}

main > div > div > p {
    font-size: 1.6em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.btnKnowMore{
    width: 150px;
    padding: 10px;
    border: 3px solid #e3ac23;
    background-color: white;
    border-radius: 5px;
    color: #e3ac23;
    margin-top: 50px;  
}

.btnKnowMore:hover{
    border: 3px solid #e3ac23;
    background-color: #e3ac23;
    color: white;
    cursor: pointer;
}

/********** BLOCK 5 : PERSONALLY ***************/
main > div:nth-of-type(5) {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

main > div:nth-of-type(5) > div {
    width: 50%; 
}

main > div:nth-of-type(5) > div:nth-child(1){
    text-align: center;
}

main > div:nth-of-type(5) > div:nth-child(2){
    background-image: url(../images/selfDevelopment/personally_web.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: right;
    height: 350px;
}
