@font-face {
    src: url(../fonts/relancer.otf);
    font-family: relancer;
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    padding-top: 0px;
    margin: 0;
}

span{
    
    color: #e3ac23;
    
    
}

body{
    
     font-family: 'Open Sans', sans-serif;
    
    
}





/******************DIVimgParallax ********************/

#imgParallax {
    background-image: url(../images/selfDevelopment/coach.jpg);
/*    background-image: url(../images/selfDevelopment/coach5.jpg);*/
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1000px;
/*    border: solid 2px red;*/
    
}



#imgParallax
h1 {
    font-size: 50px;
    color: black;
    margin: 0;
    padding-top: 15%;
    padding-right: 30%;
    text-align:center;
    font-size: 50px;
}

#imgParallax
span{
    
        font-size: 36px;
        font-family: relancer;
    
}

/******************DIV EWithYou********************/

#EWithYou{
    height: 100px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color:black;  
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    
   
}


#EWithYou h2{
    
     font-size: 32px;
     text-transform: uppercase;
    
    
    
}

#EWithYou span{
    
     font-size: 30px;
     font-family: relancer;
    
    
}


/******************DIVbackground ********************/

.backgroundOrange{
    
    background-image: url(../images/selfDevelopment/montre3.png);
    background-repeat: no-repeat;
/*    background-size: cover;*/
    height: auto;
    text-align: center;
/*   border: 1px solid black;*/
/*    margin-top: 40px;*/
    margin-bottom: 40px;
    
    height: 470px; 
background-color: #e3ac23;
/* opacity: 0.5;*/
}


.backgroundOrange p {
  margin-left: 25%;
    padding-top: 15%;
  font-weight: bold;
  color:  black;
  font-family: 'Open Sans', sans-serif; 
    font-size: 26px;
/*      border: 1px solid black;*/
    
}


.backgroundOrange a{
    display:inline-block;
     background-color: black; 
     padding: 4px;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5%;
    margin-left: 25%;
}





/******************DIVcontainer********************/
#container{
    
display: flex;
   flex-wrap: wrap;
  
    
}

#container div{
    
    
/*   border:2px solid red; */
   width: 50%;
   height: 500px;
    
}

#container div:nth-child(1){
    
     background-image: url(../images/selfDevelopment/professionally.png);
  
    background-size: cover;
    background-repeat: no-repeat;
/*    border:2px solid red;*/
}

#container div:nth-child(4){
    
     background-image: url(../images/selfDevelopment/personally.jpg);
  
    background-size: cover;
    background-repeat: no-repeat;
/*    border:2px solid red;*/
}


#container h2{
    
    margin-top: 20%;
    font-size: 28px;
    text-transform: uppercase;
    color: #e3ac23;
    margin-left: 30%;
    
}


#container .personally h2{
    
    margin-left: 36%;
    
    
}


#container p{
    
    text-align: center;
    font-size: 30px;
    margin-left: 60px;
    margin-right: 60px;
/*      border:10px solid blue; */
    
}




#container a{
    display: inline-block;
    background-color: black; 
    padding: 4px;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5%;
    margin-left: 45%;
   
}






