@font-face {
    src: url(../Typo/Relancer-Regular.otf);
    font-family: relancer;
}


/***************************************************/

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    padding-top: 0px;
    margin: 0;
}

main {
    height: auto;
}


/******************SECTION1: mesSlides*******************/

#mesSlides>div {
    padding: 50px;
    color: black;
/*    border: 2px solid black;*/
    height: 200px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

span{
    
  color: #e3ac23;
  
}


#slide1{
    
    background-image: url("../images/selfCare/goutte1.png");
    background-repeat: no-repeat;
/*    background-position: center;*/
    background-size: cover;
    min-height: 700px;
    background-attachment: fixed;
/*    border:10px solid red;*/
  
}

#slide1>h1{
    
    margin-top: 25%;
  
    font-size: 46px;
    font-family: 'Open Sans', sans-serif;
   
}


#slide2
{
    
    background-image: url("../images/selfCare/goutte2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
   
    
}

#slide2>p{
    
    margin-top: 5%;
    margin-left: 20%;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    
}
#slide2>h2{
    
    margin-top: 7%;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    
}


#slide3
{
   
    background-image: url("../images/selfCare/montre2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
    background-attachment: fixed;
   
    
}

#slide3>span{
    
    font-family: 
    
    
}


#slide3>h2{
    
    margin-top: 10%;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    
    
}




/********************SECTION2:feel*******************/

#feel{
    
    height: 100px;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    
    
    
}

/********************SECTION3:container*******************/

#container{
    
    display: flex;
/*    justify-content: space-between;*/
    flex-wrap: wrap;
/*    border: 2px solid green;*/
    font-size: 26px;
    
}

#container>div{
    
    width: 50%;
/*    border: 2px solid red;*/
  padding: 70px;
}



#container div:nth-child(1){
    
    background-image: url("../images/selfCare/stress.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    
}



#container div:nth-child(4){
    
    background-image: url("../images/selfCare/D%C3%A9motiv%C3%A9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
   
    
}
#container div:nth-child(5){
    
    background-image: url("../images/selfCare/febrile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    
}
