*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    padding-top: 0px;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/************** VERSION DESKTOP **************/
main{
    display: flex;
    height: 700px;
    align-items: center;
}

main > div {
    background-image: url(../images/user/watch-front3.png);
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #e3ac23;    
    width: 50%;    
}

/*********FORM******/
form {
    width: 40%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

form > h2{
    color: #e3ac23;
    padding-bottom: 30px;
    font-size: 2em;
}

form > input {
    width: 300px;
    height: 35px;
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 5px;
    border-radius: 3px;
}

form > select {
    width: 303px;
    height: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: grey;
}

form > button {
    width: 300px;
    height: 40px;
    background-color: #e3ac23;
    border: 2px solid #e3ac23;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    color: white;
}

form > button:hover {
    color: black;
}

/************** VERSION TABLETTE **************/
@media (max-width:750px){
    main {
        width: 100%;
        background-image: url(../images/user/watch-front3.png);
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #e3ac23;          
    }
    
    main > div{
        display: none;
    }

    /*********FORM******/
    form {
        width: 85%;
        background-color: rgba(255, 255, 255, 0.9);
        padding-top: 30px;
    }

    form > input {
        width: 80%;
        height: 35px;
    }

    form > select {
        width: 80%;
        height: 37px;
    }

    form > button {
        width: 80%;
    }
    
}

/************** VERSION MOBILE **********************/
@media (max-width:450px){
    main {
        background-image: url(../images/user/watch-front3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        background-color: #e3ac23;    
        width: 100%; 
    }
}
